<div class="page-wrapper">

  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Dashboard</h4>
        <div class="ms-auto text-end">

        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Sales Cards  -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-md-6 col-lg-2 col-xlg-3">
        <a href="/admin/all-users">
          <div class="card card-hover">
            <div class="box bg-cyan text-center">
              <h1 class="font-light text-white">
                <i class="bi bi-people"></i>
              </h1>
              <h6 class="text-white">Users</h6>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4 col-xlg-3">
        <a href="/admin/all-volunteers">
          <div class="card card-hover">
            <div class="box bg-success text-center">
              <h1 class="font-light text-white">
                <i class="bi bi-person-vcard-fill"></i>
              </h1>
              <h6 class="text-white">Volunteer</h6>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-2 col-xlg-3">
        <a href="/admin/all-trusts">

          <div class="card card-hover">
            <div class="box bg-warning text-center">
              <h1 class="font-light text-white">
                <i class="bi bi-person-heart"></i>
              </h1>
              <h6 class="text-white">Charity Trust</h6>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-2 col-xlg-3">
        <a href="/admin/all-trusts">
          <div class="card card-donors">
            <div class="box bg-danger text-center">
              <h1 class="font-light text-white">
                <i class="bi bi-handbag"></i>
              </h1>
              <h6 class="text-white">Food Donors</h6>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-2 col-xlg-3">
        <a href="#!">
          <div class="card card-hover">
            <div class="box bg-info text-center">
              <h1 class="font-light text-white">
                <i class="bi bi-shop-window"></i>
              </h1>
              <h6 class="text-white">Food Spots</h6>
            </div>
          </div>
        </a>
      </div>

    </div>

    {{!-- <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="d-md-flex align-items-center">
              <div>
                <h4 class="card-title">Site Analysis</h4>
                <h5 class="card-subtitle">Overview of Latest Month</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-9">
                <div class="flot-chart">
                  <div class="flot-chart-content" id="flot-line-chart" style="padding: 0px; position: relative;"><canvas
                      class="flot-base"
                      style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 695px; height: 300px;"
                      width="1042" height="450"></canvas>
                    <div class="flot-text"
                      style="position: absolute; inset: 0px; font-size: smaller; color: rgb(84, 84, 84);">
                      <div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; inset: 0px;">
                        <div class="flot-tick-label tickLabel"
                          style="position: absolute; max-width: 99px; top: 283px; left: 24px; text-align: center;">0
                        </div>
                        <div class="flot-tick-label tickLabel"
                          style="position: absolute; max-width: 99px; top: 283px; left: 134px; text-align: center;">2
                        </div>
                        <div class="flot-tick-label tickLabel"
                          style="position: absolute; max-width: 99px; top: 283px; left: 244px; text-align: center;">4
                        </div>
                        <div class="flot-tick-label tickLabel"
                          style="position: absolute; max-width: 99px; top: 283px; left: 354px; text-align: center;">6
                        </div>
                        <div class="flot-tick-label tickLabel"
                          style="position: absolute; max-width: 99px; top: 283px; left: 464px; text-align: center;">8
                        </div>
                        <div class="flot-tick-label tickLabel"
                          style="position: absolute; max-width: 99px; top: 283px; left: 570px; text-align: center;">10
                        </div>
                      </div>
                      <div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; inset: 0px;">
                        <div class="flot-tick-label tickLabel"
                          style="position: absolute; top: 246px; left: 0px; text-align: right;">-1.0</div>
                        <div class="flot-tick-label tickLabel"
                          style="position: absolute; top: 190px; left: 0px; text-align: right;">-0.5</div>
                        <div class="flot-tick-label tickLabel"
                          style="position: absolute; top: 134px; left: 5px; text-align: right;">0.0</div>
                        <div class="flot-tick-label tickLabel"
                          style="position: absolute; top: 78px; left: 5px; text-align: right;">0.5</div>
                        <div class="flot-tick-label tickLabel"
                          style="position: absolute; top: 23px; left: 5px; text-align: right;">1.0</div>
                      </div>
                    </div><canvas class="flot-overlay"
                      style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 695px; height: 300px;"
                      width="1042" height="450"></canvas>
                    <div class="legend">
                      <div
                        style="position: absolute; width: 47.5729px; height: 39px; top: 14px; right: 13px; background-color: rgb(255, 255, 255); opacity: 0.85;">
                      </div>
                      <table style="position:absolute;top:14px;right:13px;;font-size:smaller;color:#AFAFAF">
                        <tbody>
                          <tr>
                            <td class="legendColorBox">
                              <div style="border:1px solid #ccc;padding:1px">
                                <div style="width:4px;height:0;border:5px solid rgb(238,121,81);overflow:hidden"></div>
                              </div>
                            </td>
                            <td class="legendLabel">sin(x)</td>
                          </tr>
                          <tr>
                            <td class="legendColorBox">
                              <div style="border:1px solid #ccc;padding:1px">
                                <div style="width:4px;height:0;border:5px solid rgb(79,185,240);overflow:hidden"></div>
                              </div>
                            </td>
                            <td class="legendLabel">cos(x)</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="row">
                  <div class="col-6">
                    <div class="bg-dark p-10 text-white text-center">
                      <i class="mdi mdi-account fs-3 mb-1 font-16"></i>
                      <h5 class="mb-0 mt-1">2540</h5>
                      <small class="font-light">Total Users</small>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="bg-dark p-10 text-white text-center">
                      <i class="mdi mdi-plus fs-3 font-16"></i>
                      <h5 class="mb-0 mt-1">120</h5>
                      <small class="font-light">New Users</small>
                    </div>
                  </div>
                  <div class="col-6 mt-3">
                    <div class="bg-dark p-10 text-white text-center">
                      <i class="mdi mdi-cart fs-3 mb-1 font-16"></i>
                      <h5 class="mb-0 mt-1">656</h5>
                      <small class="font-light">Food Spots</small>
                    </div>
                  </div>
                  <div class="col-6 mt-3">
                    <div class="bg-dark p-10 text-white text-center">
                      <i class="mdi mdi-tag fs-3 mb-1 font-16"></i>
                      <h5 class="mb-0 mt-1">9540</h5>
                      <small class="font-light">Total Orders</small>
                    </div>
                  </div>
                  <div class="col-6 mt-3">
                    <div class="bg-dark p-10 text-white text-center">
                      <i class="mdi mdi-table fs-3 mb-1 font-16"></i>
                      <h5 class="mb-0 mt-1">100</h5>
                      <small class="font-light">Pending Orders</small>
                    </div>
                  </div>
                  <div class="col-6 mt-3">
                    <div class="bg-dark p-10 text-white text-center">
                      <i class="mdi mdi-web fs-3 mb-1 font-16"></i>
                      <h5 class="mb-0 mt-1">8540</h5>
                      <small class="font-light">Online Orders</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> --}}
  </div>
</div>