<section class="mt-4">
    <div class="container mt-2">
        <center>
            {{#if trusts}}
            <h4>Hi {{trusts.Orgname}}, Welcome</h4>
            <h6>This is Charity Trust Interface</h6>
            <a href="/trusts/signout" class="btn btn-danger">Logout</a>
            {{else}}
            <h3>Welcome</h3>
                        <a href="/trusts/signin" class="btn btn-primary">Login</a>

            {{/if}}
        </center>
        
    </div>
</section>




