  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="info d-flex align-items-center mt-5">
      <div class="container">
        <div class="row ">
          <div class="col-lg-6 ">
            <br><br><br>            <br><br><br>


            <h2 data-aos="fade-down">Welcome to <br> Food Bank Management System</h2>
            <p data-aos="fade-up">Food waste is a big problem, and we can be a solution. Too Good To Go is the app that lets you rescue unsold food at your favorite spots from an untimely fate..</p>
            <a data-aos="fade-up" data-aos-delay="200" href="#get-started" class="btn-get-started mb-5">Get Started</a>    <br><br><br> 
          </div>
        </div>
      </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active" style="background-image: url('/images/bg1.jpg')"></div>
      <div class="carousel-item" style="background-image: url('/images/bg2.jpg')"></div>

      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

  </section><!-- End Hero Section -->
<section id="get-started" class="get-started section-bg">
<div class="container">
          <a href="/admin" class="btn btn-dark float-end mb-4">Admin Panel</a>
</div>
</section>
  <main id="main">

    <!-- ======= Get Started Section ======= -->
    <section id="get-started" style="    margin-top: -152px;
" class="get-started section-bg">
      <div class="container">

        <div class="row justify-content-center gy-4">

          

          <div class="col-lg-8" data-aos="fade">
            <form action="forms/quote.php" method="post" class="php-email-form">
              <h3>Welcome to Let's Feed</h3>
              <p>Vel nobis odio laboriosam et hic voluptatem. Inventore vitae totam. Rerum repellendus enim linead sero park flows.</p>
              <div class="row gy-3">

                <div class="col-md-12">
                 <a href="/signin" class="btn btn-success w-100 ">Order Your Food Now!!! </a>
                </div>

                <div class="col-md-12">
                 <a href="/foodspots/signin" class="btn btn-primary w-100 ">Business Area</a>
                </div>


                  <div class="col-md-12">
                 <a href="#!" class="btn btn-dark w-100 ">Donation Corner</a>
                </div>


              
                </div>

              </div>
            </form>
          </div><!-- End Quote Form -->
<h5 class="text-center mt-3">Are you interested to be a <a href="/volunteers">Volunteer</a>?</h5>
        </div>

      </div>
    </section><!-- End Get Started Section -->

    <!-- ======= Constructions Section ======= -->
  

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
 
  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>