{{!-- <section>
    <div class="container mt-5">
        <h3>Welcome to Food Donation</h3><br>
        <a href="/doners/signin" class="btn btn-primary">Food Donation</a>
        <a href="/trusts/signin" class="btn btn-info">Charity Trust</a>
        <a href="/foodspots/signin" class="btn btn-danger">Food Spot</a>
        <a href="/volunteers/signin" class="btn btn-dark">Volunteer</a>
        <a href="/signin" class="btn btn-secondary">User</a>

    </div>
</section> --}}
<style>
    .hero .carousel-item::before {
    content: "";
    background-color: rgb(0 0 0 / 0%);
    position: absolute;
    inset: 0;
}
  /* Style the select element */
    select {
      border: 2px solid #71cb9f;
    padding: 1rem;
        border-radius: 25px;
            padding-left: 40px;

      font-size: 16px;
      background-color: #056365;
      color: white;
    }

    /* Style the options in the dropdown list */
    select option {
      background-color: #056365;
      color: white;
    }
    .btn-get-started{
        background-color: #71cb9f;
    }
    .footer {
    color: #000000;
    background-color: white;
    background-size: cover;
    font-size: 14px;
    padding: 80px 0 60px 0;
    position: relative;
    margin-top: 553px;
}
.footer:before {
    content: "";
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    inset: 0;
    color: black;
}
</style>
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">

    <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <select class="w-75">
    <option value="" selected disabled>Select Your Place</option>
    <option value="Baluessery">Baluessery</option>
        <option value="Poonoor">Poonoor</option>
    <option value="Mukkam">Mukkam</option>
    <option value="Koduvally">Koduvally</option>
    <option value="Thamarassery">Thamarassery</option>

  </select>
              <a data-aos="fade-up" data-aos-delay="200" href="/home" class="btn-get-started w-75 mt-5">Go to website</a>

          </div>
        </div>
      </div>
    </div>

    <div id="" >

      <div class="carousel-item active" style="background-image: url('/images/map.png')"></div>
    
    </div>

  </section><!-- End Hero Section -->


  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info text-dark">
              <h3 class="text-dark">Let's Food</h3>
              <p class="text-dark">
                A108 Adam Street <br>
                NY 535022, USA<br><br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End footer info column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4 class="text-dark">Useful Links</h4>
            <ul>
              <li><a href="#" class="text-dark">Home</a></li>
              <li><a href="#" class="text-dark">About us</a></li>
              <li><a href="#" class="text-dark">Services</a></li>
              <li><a href="#" class="text-dark">Terms of service</a></li>
              <li><a href="#" class="text-dark">Privacy policy</a></li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4 class="text-dark">Our Services</h4>
            <ul>
              <li><a href="#" class="text-dark">Web Design</a></li>
              <li><a href="#" class="text-dark">Web Development</a></li>
              <li><a href="#" class="text-dark">Product Management</a></li>
              <li><a href="#" class="text-dark">Marketing</a></li>
              <li><a href="#" class="text-dark">Graphic Design</a></li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4 class="text-dark">Hic solutasetp</h4>
            <ul>
              <li><a href="#" class="text-dark">Molestiae accusamus iure</a></li>
              <li><a href="#" class="text-dark">Excepturi dignissimos</a></li>
              <li><a href="#" class="text-dark">Suscipit distinctio</a></li>
              <li><a href="#" class="text-dark">Dilecta</a></li>
              <li><a href="#" class="text-dark">Sit quas consectetur</a></li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4 class="text-dark">Nobis illum</h4>
            <ul>
              <li><a href="#" class="text-dark">Ipsam</a></li>
              <li><a href="#" class="text-dark">Laudantium dolorum</a></li>
              <li><a href="#" class="text-dark">Dinera</a></li>
              <li><a href="#" class="text-dark">Trodelas</a></li>
              <li><a href="#" class="text-dark">Flexo</a></li>
            </ul>
          </div><!-- End footer links column-->

        </div>
      </div>
    </div>

   

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

