{{!-- <section>
  <div class="container mt-5">
    <h3>Welcome to Food Donation</h3><br>
    <a href="/doners/signin" class="btn btn-primary">Food Donation</a>
    <a href="/trusts/signin" class="btn btn-info">Charity Trust</a>
    <a href="/foodspots/signin" class="btn btn-danger">Food Spot</a>
    <a href="/volunteers/signin" class="btn btn-dark">Volunteer</a>
    <a href="/signin" class="btn btn-secondary">User</a>

  </div>
</section> --}}
<style>
  .hero .carousel-item::before {
    content: "";
    background-color: rgb(0 0 0 / 0%);
    position: absolute;
    inset: 0;
  }

  /* Style the select element */
  select {
    border: 2px solid #71cb9f;
    padding: 1rem;
    border-radius: 25px;
    padding-left: 40px;

    font-size: 16px;
    background-color: #056365;
    color: white;
  }

  /* Style the options in the dropdown list */
  select option {
    background-color: #056365;
    color: white;
  }

  .btn-get-started {
    background-color: #71cb9f;
  }

  .footer {
    color: #000000;
    background-color: white;
    background-size: cover;
    font-size: 14px;
    padding: 80px 0 60px 0;
    position: relative;
    margin-top: 553px;
  }

  .footer:before {
    content: "";
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    inset: 0;
    color: black;
  }
</style>
<!-- ======= Hero Section ======= -->
<section id="hero" class="hero">

  <div class="info d-flex align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <form onsubmit="return validateSelect()">
            <select class="w-75" id="placeSelect">
              <option value="" selected disabled>Select Your Place or Nearby Place</option>
              <option value="Baluessery">Baluessery</option>
              <option value="Poonoor">Poonoor</option>
              <option value="Mukkam">Mukkam</option>
              <option value="Koduvally">Koduvally</option>
              <option value="Thamarassery">Thamarassery</option>
              <option value="Atholi, Kerala">Atholi, Kerala</option>
              <option value="Beypore">Beypore</option>
              <option value="Chakkalakkal">Chakkalakkal</option>
              <option value="Cheruvadi">Cheruvadi</option>
              <option value="Chittaripilakkal">Chittaripilakkal</option>
              <option value="Edacheri">Edacheri</option>
              <option value="Edathumkara">Edathumkara</option>
              <option value="Engapuzha">Engapuzha</option>
              <option value="Eranhikkal">Eranhikkal</option>
              <option value="Kadalundi">Kadalundi</option>
              <option value="Kadiyangad">Kadiyangad</option>
              <option value="Kakkodi">Kakkodi</option>
              <option value="Kakkur">Kakkur</option>
              <option value="Kalariyullathil">Kalariyullathil</option>
              <option value="Kanthalad">Kanthalad</option>
              <option value="Kappad">Kappad</option>
              <option value="Karaparamba">Karaparamba</option>
              <option value="Karassery">Karassery</option>
              <option value="Karthikappalli">Karthikappalli</option>
              <option value="Karuvanthuruthy">Karuvanthuruthy</option>
              <option value="Katameri">Katameri</option>
              <option value="Kattangal">Kattangal</option>
              <option value="Kayakkodi">Kayakkodi</option>
              <option value="Kayalam">Kayalam</option>
              <option value="Kedavoor">Kedavoor</option>
              <option value="Kedavur">Kedavur</option>
              <option value="Kinalur">Kinalur</option>
              <option value="Kizhakkoth">Kizhakkoth</option>
              <option value="Kodiyathur">Kodiyathur</option>
              <option value="Kokkallur">Kokkallur</option>
              <option value="Kolikkal">Kolikkal</option>
              <option value="Koodathayi">Koodathayi</option>
              <option value="Koolimadu">Koolimadu</option>
              <option value="Kottappally">Kottappally</option>
              <option value="Kumaranallur, Kozhikode">Kumaranallur, Kozhikode</option>
              <option value="Kunnummal">Kunnummal</option>
              <option value="Kuttiady">Kuttiady</option>
              <option value="Kuttikkattoor and Velliparamba">Kuttikkattoor and Velliparamba</option>
              <option value="Maikave">Maikave</option>
              <option value="Makkada">Makkada</option>
              <option value="Manashery">Manashery</option>
              <option value="Maniyur">Maniyur</option>
              <option value="Markaz Knowledge City">Markaz Knowledge City</option>
              <option value="Muchukunnu">Muchukunnu</option>
              <option value="Mukkali, Kozhikode">Mukkali, Kozhikode</option>
              <option value="Muthappan Kavu">Muthappan Kavu</option>
              <option value="Muttanchery">Muttanchery</option>
              <option value="Muyippoth">Muyippoth</option>
              <option value="Nadammal Poyil">Nadammal Poyil</option>
              <option value="Nambrathkara">Nambrathkara</option>
              <option value="Narayamkulam">Narayamkulam</option>
              <option value="Narippatta">Narippatta</option>
              <option value="Narippatta Grama Panchayat">Narippatta Grama Panchayat</option>
              <option value="Neroth, Kozhikode">Neroth, Kozhikode</option>
              <option value="Onchiam">Onchiam</option>
              <option value="Paimpalasseri">Paimpalasseri</option>
              <option value="Palangad">Palangad</option>
              <option value="Pallikkara, Payyoli">Pallikkara, Payyoli</option>
              <option value="Parambil Bazar">Parambil Bazar</option>
              <option value="Paruthippara">Paruthippara</option>
              <option value="Payyanakkal">Payyanakkal</option>
              <option value="Pazhur">Pazhur</option>
              <option value="Peringolam">Peringolam</option>
              <option value="Perumanna, Kozhikode">Perumanna, Kozhikode</option>
              <option value="Perumugham">Perumugham</option>
              <option value="Peruvayal">Peruvayal</option>
              <option value="Poolacode">Poolacode</option>
              <option value="Poonoor">Poonoor</option>
              <option value="Poovaranthode">Poovaranthode</option>
              <option value="Pottassery-I">Pottassery-I</option>
              <option value="Puliyavu">Puliyavu</option>
              <option value="Pulloorampara">Pulloorampara</option>
              <option value="Purameri">Purameri</option>
              <option value="Puttad">Puttad</option>
              <option value="Raroth">Raroth</option>
              <option value="Thalakkulathur">Thalakkulathur</option>
              <option value="Thazhecode, Kozhikode district">Thazhecode, Kozhikode district</option>
              <option value="Thinoor">Thinoor</option>
              <option value="Thiruvangoor">Thiruvangoor</option>
              <option value="Thodannur">Thodannur</option>
              <option value="Thuneri">Thuneri</option>
              <option value="Thuruthyad">Thuruthyad</option>
              <option value="Uralloor">Uralloor</option>
              <option value="Valayam">Valayam</option>
              <option value="Valayanad">Valayanad</option>
              <option value="Valiacode">Valiacode</option>
              <option value="Vanimal">Vanimal</option>
              <option value="Vattapparapoyil">Vattapparapoyil</option>
              <option value="Vattoli Bazaar">Vattoli Bazaar</option>
              <option value="Vavad, India">Vavad, India</option>
              <option value="Velom">Velom</option>
              <option value="Vilangad">Vilangad</option>

            </select>

            <button type="submit" value="submit" data-aos="fade-up" data-aos-delay="200"
              class="btn-get-started w-75 mt-5">Go to website</button>
            <div id="errorContainer" style="color: red;"></div>


          </form>
        </div>
      </div>
    </div>
  </div>

  <div id="">

    <div class="carousel-item active" style="background-image: url('/images/map.png')"></div>

  </div>

</section><!-- End Hero Section -->


<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

  <div class="footer-content position-relative">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="footer-info text-dark">
            <h3 class="text-dark">Let's Food</h3>
            <p class="text-dark">
              Beypore Street <br>
              Calicut<br><br>
              <strong>Phone:</strong> +91 807558152<br>
              <strong>Email:</strong> fniya186@gmail.com<br>
            </p>
            <div class="social-links d-flex mt-3">
              <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
              <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
              <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
              <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div><!-- End footer info column-->

        {{!-- <div class="col-lg-2 col-md-3 footer-links">
          <h4 class="text-dark">Useful Links</h4>
          <ul>
            <li><a href="#" class="text-dark">Home</a></li>
            <li><a href="#" class="text-dark">About us</a></li>
            <li><a href="#" class="text-dark">Services</a></li>
            <li><a href="#" class="text-dark">Terms of service</a></li>
            <li><a href="#" class="text-dark">Privacy policy</a></li>
          </ul>
        </div><!-- End footer links column-->

        <div class="col-lg-2 col-md-3 footer-links">
          <h4 class="text-dark">Our Services</h4>
          <ul>
            <li><a href="#" class="text-dark">Web Design</a></li>
            <li><a href="#" class="text-dark">Web Development</a></li>
            <li><a href="#" class="text-dark">Product Management</a></li>
            <li><a href="#" class="text-dark">Marketing</a></li>
            <li><a href="#" class="text-dark">Graphic Design</a></li>
          </ul>
        </div><!-- End footer links column-->

        <div class="col-lg-2 col-md-3 footer-links">
          <h4 class="text-dark">Hic solutasetp</h4>
          <ul>
            <li><a href="#" class="text-dark">Molestiae accusamus iure</a></li>
            <li><a href="#" class="text-dark">Excepturi dignissimos</a></li>
            <li><a href="#" class="text-dark">Suscipit distinctio</a></li>
            <li><a href="#" class="text-dark">Dilecta</a></li>
            <li><a href="#" class="text-dark">Sit quas consectetur</a></li>
          </ul>
        </div><!-- End footer links column-->

        <div class="col-lg-2 col-md-3 footer-links">
          <h4 class="text-dark">Nobis illum</h4>
          <ul>
            <li><a href="#" class="text-dark">Ipsam</a></li>
            <li><a href="#" class="text-dark">Laudantium dolorum</a></li>
            <li><a href="#" class="text-dark">Dinera</a></li>
            <li><a href="#" class="text-dark">Trodelas</a></li>
            <li><a href="#" class="text-dark">Flexo</a></li>
          </ul>
        </div><!-- End footer links column--> --}}

      </div>
    </div>
  </div>



</footer>
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>


<script>
  function validateSelect() {
    var selectBox = document.getElementById("placeSelect");
    var selectedValue = selectBox.value;
    var errorContainer = document.getElementById("errorContainer");

    if (selectedValue === "") {
      errorContainer.textContent = "Please select one place";
      return false; // Prevent form submission
    } else {
      errorContainer.textContent = ""; // Clear the error message
      // Redirect to the home page
      window.location.href = "/home"; // Replace with the actual URL of your home page
      return false; // Prevent form submission (optional)
    }
  }
</script>