<br><br><br><br>
<div class="container mt-5">
    <div class="card p-5 mt-5 shadow">
        <h3>Welcome To Food Donation Corner</h3>
        <p>Join us in the mission to make a difference! Become a Food Donor and contribute to reducing food
            waste. Your surplus food can nourish those in need, fostering a community of compassion and
            sustainability. Contact us to make a positive impact today."</p>
        <h3 class="mt-4 mb-3">Who Are You?</h3>
        <div class=" justify-content-between">
            <a href="/doners/home" class="btn btn-primary w-25  mr-5">Donte Now</a><br>
            <a href="/doners/charityreq" class="btn btn-dark w-25 mt-3">Requests of Charity</a>
            <a href="/doners/dcorner" class="btn btn-danger w-25  mt-3  mr-5">Donation Corner</a>
        </div>
    </div>
</div>