<div class="page-wrapper">

    <div class="page-breadcrumb">

        <section>
            <div class="container mt-4">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="text-center">Add Menu</h2>
                        <form action="/foodspots/add-menu" enctype="multipart/form-data" method="POST">
                            <label for="">Type of cuisine</label>
                            <select class="form-select" name="cuisine" required="true" required="required"
                                aria-label="Default select example">
                                <option value="" selected disabled>Select Cuisine</option>
                                {{#each fcats}}
                                <option value="{{this.Name}}">{{this.Name}}</option>
                                {{/each}}
                            </select>
                            <label for="">Name</label>
                            <input type="text" name="name" class="form-control" required>
                            <label for="">Portion Size</label>
                            <input type="text" name="size" class="form-control" required>


                            <label for="">Price</label>
                            <input type="text" name="Price" class="form-control" required>

                            <label for="">Scheduled Time</label>
                            <input type="time" name="time" class="form-control" required>
                            <label for="">Am/Pm</label>
                            <select class="form-select" name="timeampm" aria-label="Default select example">
                                <option selected disabled>Am/Pm</option>
                                <option value="am">am</option>
                                <option value="pm">pm</option>
                            </select>



                            <button type="submit" class="btn btn-success mt-4">Create Menu</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>