<section>
    <div class="container my-5">
        <a href="/orders" class="btn btn-dark mb-4">Back to orders</a>
        {{!-- <button onclick="window.print()" class="btn btn-primary mb-4">Print Bill</button> --}}

        <div class="card p-5 shadow">
            <div class="table-responsive">
                <table class="table table-bordered" id="table">
                    <thead class="table-dark">
                        <tr class="align-middle">
                            <th scope="col">No.</th>
                            <th scope="col">Title</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{#each order}}
                        <tr class="align-middle">
                            <td>{{incremented @index}}</td>
                            <td>{{this.productDetails.cuisine}}</td>
                            <td>₹{{this.productDetails.Price}}/-</td>
                        </tr>
                        {{/each}}
                    </tbody>
                    <tfoot class="table-light">
                        <tr>
                            <td class="" colspan="2"><b>Total (Qty x Price/Item) :</b></td>
                            <td class=""><b>₹{{totalAmount}}</b></td>
                        </tr>

                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</section>